
	body {
	color: green;
	background-color: green;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;

}
.sticky-body {
	margin-top: 200px
}

.sticky-header {
	background: rgba(255, 255, 255, 0.6);
	position: fixed;
	top: 0;
	height: 100px;
	width: 100%;
	z-index: 99;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	-webkit-filter: transparent;
	filter: transparent;

}
.shadow {
	position: relative;
	display: inline-block;
	font-size: 1.5rem;
	text-transform: uppercase;
	text-shadow: 3px 3px 3px black, 8px 9px 0px rgba (0,0,0,0.1);
	color: white;

}
div {
	margin-left: 50px;
	margin-right: 50px;
	background-color: rgba(255, 255, 255, 0.6) ;
	background-size: 100px;
}

.title {
	font-size: 2rem;
	background-color: rgba(255, 255, 255, 0.6);
	background-size: 2rem;
	text-align: center;

}
.logo {
	height: 100px;
	width: 100px;
}
