body {
color: green;
background-size: 100px;
background-position: center;
background-repeat: no-repeat;
}

}
.sticky-body {
	margin-top: 200px
}

.sticky-header {
	background: rgba(255, 255, 255, 0.6);
	position: fixed;
	top: 0;
	height: 100px;
	width: 100%;
	z-index: 99;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}
.home	{
	text-align: center;
	color: green;
	position: fixed;
	z-index: 99;
}
.topnav-right {
  float: right;
}
.logo {
	height: 100px;
	width: 100px;
}
