body{
	margin: 0;
  padding: 0;
}


  header{
    background-image: url(newcover3.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
 ;
}

header h6  {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%)
}

.btn{

	 position: fixed;
  top: 75%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 50%:;
}

h6{
	 color: white;
  text-shadow: 2px 2px 4px #000000;
  font-family: blackstreet;
  font-size: 40px;
 

}

 

@font-face {
    font-family: blackstreet;
    src: url(fonts/Black-Street.ttf);
}