body{
background-image: url(nobg2.jpg);

    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center; 
    height: 100%;
    width: 125%;
    
background-size: 100% 100%;
}


  div{
 position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}


.btn{
	 position: fixed;
  top: 95%;
  left: 45%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  box-shadow: 5px 5px black;
}

h6{
	 color: white;
  text-shadow: 2px 2px 4px #000000;
  font-family: blackstreet;
  font-size: 40px;
 

}
.btn:hover {
	opacity: 1;
}

 

@font-face {
    font-family: blackstreet;
    src: url(fonts/Black-Street.ttf);
}