.episode {
  text-align: center;
  background-color: rgba(211,211,211 ,0.7);
}
.jumbotron {
background-image: url(newcover3.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;



}
body{
  background-color: rgba(232,245,233 ,1);
}

.container {
  background-color: rgba(192,192,192 ,0.7);
}
.sponsors {
  text-align: center;
  background-color: rgba(211,211,211 ,0.7);
}
#intro {
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-family: blackstreet;
  font-size: 50px;
  
}
@font-face {
    font-family: blackstreet;
    src: url(fonts/Black-Street.ttf);
}

.ad1{
  text-align: center;
}
.ad{
  text-align: center;
}